.root {
  @apply font-sans; /** Fallback */

  position: relative;
  overflow: hidden;
  font-family: 'Audiowide';
  background: linear-gradient(
    140deg,
    hsl(20, 100%, 75%) 25%,
    hsl(30, 100%, 75%) 25% 50%,
    hsl(40, 100%, 75%) 50% 75%,
    hsl(50, 100%, 75%) 75%
  );
  animation: BackgroundLuminance 3s linear infinite alternate;

  @apply motion-reduce:animate-none;
}

.root::before {
  content: '';
  position: absolute;
  height: 300px;
  width: 300px;
  left: 100px;
  top: 30px;
  background: linear-gradient(
    45deg,
    hsla(120, 100%, 50%, 0.5) 25%,
    hsla(140, 100%, 50%, 0.5) 25% 50%,
    hsla(160, 100%, 50%, 0.5) 50% 75%,
    hsla(180, 100%, 50%, 0.5) 75%
  );
  clip-path: circle(50%);
  animation: Circle 5s ease-in-out infinite alternate;

  @apply motion-reduce:animate-none;
}

.root::after {
  content: '';
  position: absolute;
  height: 300px;
  width: 300px;
  right: 50px;
  bottom: 50px;
  transform: rotate(20deg);
  background: linear-gradient(
    160deg,
    hsla(220, 100%, 50%, 0.5) 25%,
    hsla(240, 100%, 50%, 0.5) 25% 50%,
    hsla(260, 100%, 50%, 0.5) 50% 75%,
    hsla(280, 100%, 50%, 0.5) 75%
  );
  animation: Square 4s ease-in-out infinite alternate;

  @apply motion-reduce:animate-none;
}

@keyframes Circle {
  to {
    transform: translate(100px, 100px);
  }
}

@keyframes Square {
  to {
    transform: translate(-100px, 0) rotate(30deg);
  }
}

@keyframes BackgroundLuminance {
  0% {
    background: linear-gradient(
      140deg,
      hsl(20, 100%, 65%) 25%,
      hsl(30, 100%, 75%) 25% 50%,
      hsl(40, 100%, 75%) 50% 75%,
      hsl(50, 100%, 75%) 75%
    );
  }
  25% {
    background: linear-gradient(
      140deg,
      hsl(20, 100%, 75%) 25%,
      hsl(30, 100%, 65%) 25% 50%,
      hsl(40, 100%, 75%) 50% 75%,
      hsl(50, 100%, 75%) 75%
    );
  }
  75% {
    background: linear-gradient(
      140deg,
      hsl(20, 100%, 75%) 25%,
      hsl(30, 100%, 75%) 25% 50%,
      hsl(40, 100%, 65%) 50% 75%,
      hsl(50, 100%, 75%) 75%
    );
  }
  100% {
    background: linear-gradient(
      140deg,
      hsl(20, 100%, 75%) 25%,
      hsl(30, 100%, 75%) 25% 50%,
      hsl(40, 100%, 75%) 50% 75%,
      hsl(50, 100%, 65%) 75%
    );
  }
}
