---
import '@fortawesome/fontawesome-svg-core/styles.css'
import '../styles/global.css'

import BaseHead from '../components/BaseHead.astro'
import Footer from '../components/Footer.astro'
import Header from '../components/Header.astro'
import constants from '../constants'
import CloudflareWebAnalytics from '../components/CloudflareWebAnalytics.astro'

interface Props {
  title?: string
  description?: string
}

const { title = constants.website.title, description = constants.website.description } = Astro.props
---

<!doctype html>
<html lang="ja" class="scroll-smooth has-[nav[data-mobile-nav-open=true]]:overflow-hidden">
  <head>
    {import.meta.env.PROD && <CloudflareWebAnalytics />}
    <BaseHead title={title} description={description} />
    <slot name="head" />
  </head>
  <body class="bg-slate-200 min-h-screen antialiased font-sans">
    <Header />
    <slot />
    <Footer />
  </body>
</html>
